.container1{
    /* border: 1px solid black; */
    position: relative;
    margin-left: 50px;
    bottom: 90px;
    height: 700px;
    width: 1320px;
    border-radius: 15px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.188);
}
.container1 h1{
    display: flex ;
    text-align: center;
    justify-content: center;
    position: relative;
    font-weight: 800;
    margin-bottom: 120px;
    padding-top: 20px;
}
.box-texts h4{
    display: flex;
    justify-content: flex-start;
    position: relative;
    left: 120px;
    font-weight: 500;
    font-size: 1.5rem;
}
.box-texts select{
    display: flex;
    justify-content: flex-start;
    position: relative;
    left: 120px;
    width: 280px;
    height: 25px;
    background-color: #E6FFF3;
    border: none;
}
#bot-msg-btn{
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: 120px;
    font-size: 1rem;
    border-radius: 15px;
    border: none;
    background-color: #87B4C2;
    color: white;
    padding: 5px 15px 5px 15px;
    box-shadow: -2px 4px 8px rgba(31, 31, 31, 0.489);
    transition: all 0.3s ease;
    margin-left: 2px;
}
.add-new{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 50px;
    left: 120px;
    font-size: 1rem;
    border-radius: 15px;
    border: none;
    background-color: #BAC287;
    color: white;
    padding: 5px 15px 5px 15px;
    box-shadow: -2px 4px 8px rgba(31, 31, 31, 0.489);
    transition: all 0.3s ease;
    margin-left: 2px;
    margin-top: 120px;
}
.image-display{
    position: relative;
    right: 200px;
    bottom: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#shirt,#pant,#acessory{
    /* border: 1px solid black; */
    padding: 120px 150px 120px 150px;
    border-radius: 15px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.188);
}
#pant,#acessory{
    position: relative;
    bottom: 180px;
}
#acessory{
    top: 5px;
    left:80px;
}
#shirt{
    position: relative;
    top: 130px;
    left: 300px;
}
.buttons{
    position: relative;
    bottom: 250px;
    right: 100px;
    display: flex;
    justify-content: flex-end;
}
#back,#next{
    background: none;
    border: none;
    font-size: 1.2rem;
    position: relative;
    left: 130px;
    bottom: 10px;
}
#select{
    position: relative;
    top: 40px;
    right: 30px;
    font-size: 1rem;
    border-radius: 15px;
    border: none;
    background-color: #87B4C2;
    color: white;
    padding: 5px 15px 5px 15px;
    box-shadow: -2px 4px 8px rgba(31, 31, 31, 0.489);
    transition: all 0.3s ease;
    margin-left: 2px;
}
#what-dress{
    position: relative;
    bottom: 20px;
}
#bot-msg{
    position: relative;
    top: 50px;
}
@media (max-width: 480px){
    .container1{
        position: relative;
        margin-left: 1px;
        bottom: -30px;
        height: 600px;
        width: 350px;
        border-radius: 15px;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.188);
    }
    #shirt,#pant,#acessory{
        padding: 60px 70px 60px 70px;
        border-radius: 15px;
    }
    .container1 h1{
        display: flex ;
        text-align: center;
        justify-content: center;
        position: relative;
        bottom: 90px;
        font-weight: 800;
        margin-bottom: 10px;
        padding-top: 120px;
        font-size: 1rem;
    }
    .box-texts h4{
        left: 40px;
        bottom: 60px;
        font-size: 0.8rem;
    }
    .box-texts select{
        left: 40px;
        bottom: 55px;
        width: 280px;
        height: 25px;
        background-color: #E6FFF3;
        border: none;
    }
    #acessory{
        left: 10px;
        top: 100px;
    }
    #shirt{
        top: 100px;
        left: 460px;
    }
    #pant{
        bottom: -260px;
        left: 230px;
    }
    #bot-msg{
        position: relative;
        top: -5px;
    }
    #bot-msg-btn{
        display: flex;
        justify-content: flex-end;
        position: relative;
        left: 40px;
        bottom: 70px;
        font-size: 0.6rem;
        margin-left: 0px;
    }
    .buttons{
        bottom: 70px;
        right: -20px;
    }
    #back,#next{
        font-size: 0.7rem;
        left: 85px;
        bottom: -10px;
    }
    #select{
        position: relative;
        top: 40px;
        right: 25px;
        font-size: 0.6rem;
        border-radius: 15px;
        border: none;
        background-color: #87B4C2;
        color: white;
        padding: 5px 15px 5px 15px;
        box-shadow: -2px 4px 8px rgba(31, 31, 31, 0.489);
        transition: all 0.3s ease;
        margin-left: 2px;
    }
    .add-new{
        display: flex;
        justify-content: flex-end;
        position: relative;
        top: 130px;
        left: 20px;
        font-size: 0.6rem;
        border-radius: 15px;
        border: none;
        background-color: #BAC287;
        color: white;
        padding: 5px 15px 5px 15px;
        box-shadow: -2px 4px 8px rgba(31, 31, 31, 0.489);
        transition: all 0.3s ease;
        margin-left: 2px;
        margin-top: 120px;
    }
}