@keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .welcome-text, .select, .outfit {
    animation: slideInRight 0.5s ease forwards;
  }
  
.home-texts{
    display: flex;
    align-items: end;
    flex-direction: column;
    position: relative;
    bottom: 300px;
}
.welcome-text{
    font-size: 2.4rem;
    font-weight: 300;
    position: relative;
    bottom: 150px;
    margin-right: 100px;
    text-align: right;
}
.select{
    position: relative;
    bottom: 230px;
    margin-right: 100px;
    text-align: right;
    font-size: 4.5rem;
    font-weight: 900;
}
.outfit{
    position: relative;
    bottom: 390px;
    font-size: 9.5rem;
    font-weight: 900;
    margin-right: 100px;
    background: linear-gradient(to right,  #A9FFD6,#004323);
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent; 
    text-shadow: -3px 10px 4px rgba(0, 0, 0, 0.2), -1px -2px 4px rgba(255,255,255,0.1);
}
.add-wardobe3{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 470px;
    right: 100px;
    font-size: 1.2rem;
    border-radius: 15px;
    border: none;
    background-color: #C28795;
    color: white;
    padding: 5px 15px 5px 15px;
    box-shadow: -2px 4px 8px rgba(31, 31, 31, 0.489);
    transition: all 0.3s ease;
    margin-left: 2px;
}
.add-wardobe4{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 503px;
    right: 330px;
    font-size: 1.2rem;
    border-radius: 15px;
    border: none;
    background-color: #87B4C2;
    color: white;
    padding: 5px 15px 5px 15px;
    box-shadow: -2px 4px 8px rgba(31, 31, 31, 0.489);
    transition: all 0.3s ease;
    margin-left: 2px;
}
.add-wardobe5{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 470px;
    right: 230px;
    font-size: 1.2rem;
    border-radius: 15px;
    border: none;
    background-color: #BAC287;
    color: white;
    padding: 5px 15px 5px 15px;
    box-shadow: -2px 4px 8px rgba(31, 31, 31, 0.489);
    transition: all 0.3s ease;
    margin-left: 2px;
}
.add-wardobe3:active {
    box-shadow: 0 2px 4px rgba(31, 31, 31, 0.686); 
    transform: translateY(2px);
}
#upward-arrow2{
    position: relative;
    top: 4.5px;
    left: 5px;
    height: 15px;
}
#shirt3{
    position: relative;
    top: 35px;
    left: 30px;
    display: flex;
    justify-content: center;
}
@media (max-width: 480px){
    #shirt3{
        display: flex;
        justify-content: center;
        height: 230px;
        left: 60px;
        top: 100px;
    }
    .home-texts{
        bottom: auto;
    }
    .welcome-text{
        font-size: 1.2rem;
        bottom: -100px;
        margin-right: 10px;
    }
    .select{
        bottom: -70px;
        margin-right: 100px;
        text-align: right;
        font-size: 2.5rem;
        margin-right: 10px;
    }
    .outfit{
        position: relative;
        bottom: auto;
        font-size: 4.5rem;
        margin-right: 100px;
        margin-right: 10px;
    }
    .add-wardobe3{
        display: flex;
        justify-content: flex-end;
        position: relative;
        bottom: 30px;
        right: 10px;
        font-size: 0.6rem;
        border-radius: 15px;
        padding: 2.5px 7px 2.5px 7px;
    }
    #upward-arrow2{
        position: relative;
        top: 2.5px;
        left: 2.5px;
        height: 8px;
    }
}